.*
node_modules
/build
/package
!.yarnrc.yml
!.env.example
!.eslintignore
!.eslintrc.cjs
!.gitignore
!.prettierignore
!.prettierrc
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
pocketbase
pb_data
